%% -*- erlang -*-
{sub_dirs, ["rel", "lib/e0"]}.
{cover_enabled, true}.
%% {erl_opts, [debug_info, warnings_as_errors]}.
{erl_opts, [debug_info]}.
{edoc_opts, [{dir, "../../doc"}]}.
{deps, [ {riak_core, ".*", {git, "git://github.com/basho/riak_core", {branch, "master"}}}
       , {eper, "0.74", {git, "git://github.com/massemanet/eper", {tag, "0.74"}}}
       ]}.
