{sys, [
       {lib_dirs, ["../lib/", "../deps/"]},
       {rel, "e0", "1",
        [
         kernel,
         stdlib,
         sasl,
         e0
        ]},
       {rel, "start_clean", "",
        [
         kernel,
         stdlib
        ]},
       {boot_rel, "e0"},
       {profile, embedded},
       {excl_sys_filters, ["^bin/.*",
                           "^erts.*/bin/(dialyzer|typer)"]},
       {app, sasl, [{incl_cond, include}]},
       {app, e0, [{incl_cond, include}]}
      ]}.

{target_dir, "e0"}.

{overlay_vars, "vars.config"}.

{overlay, [
           {mkdir, "data/ring"},
           {mkdir, "log/sasl"},
           {copy, "files/erl", "\{\{erts_vsn\}\}/bin/erl"},
           {copy, "files/nodetool", "\{\{erts_vsn\}\}/bin/nodetool"},
           {template, "files/app.config", "etc/app.config"},
           {template, "files/vm.args", "etc/vm.args"},
           {template, "files/e0", "bin/e0"},
           {template, "files/e0-admin", "bin/e0-admin"}
           ]}.
